html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: hsl(204, 43%, 93%);
    font-size: 16px;
    font-family: 'Karla', sans-serif;
} 

.box1 {
    grid-area: hd;
    background: white;
    justify-content: center;
    align-items: center;

    
}
.box2 {
    grid-area: sd;
    background: hsl(179, 61%, 43%);
    justify-content: center;

}
.box3 {
    grid-area: main;
    background: hsl(179, 47%, 51%);
    justify-content: center;

}

.container {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 230px 230px;
    grid-template-areas:
      "hd hd"
      "sd main";
    height: 100vh;
    justify-content: center;
    align-content: center;
}

.titulobox1{
    color: hsl(179, 61%, 43%);
    padding-left: 20px;
}

.subtitulobox1 {
    color: hsl(71, 73%, 54%);
    padding-left: 20px;
}
.corpotextobox1 {
    color: lightgrey;
    padding-left: 20px;
    font-weight: 300;
}

.titulobox2{
    color: white;
    padding-top: 08px;
    padding-left: 20px;
}

.corpotextobox2{
    color: white;
    padding-left: 20px;
    font-weight: bold;
    font-size: 1.80em;
}

#formatacaoTexto{
    color: lightgrey;
    font-weight: normal;
    font-size: small;
}

#frasechamativa {
    color: white;
    font-weight: normal;
    font-size: small;
}

.botao{
    display: flex;
    padding-left: 20px;
    padding-bottom: 20px;
    text-align: left;
    
}

.btn{
    width:230px;
    height: 35px;
    background-color: hsl(71, 73%, 54%);
    color: white;
    border-radius: 4px;
    box-shadow: 50px;
    border: none;
    
}

.btn:hover {
    background-color: hsl(71, 73%, 54%);
    box-shadow: 0px 15px 20px rgba(22, 235, 111, 0.4);
    color: #fff;
    transform: translateY(-2px);
  }

.titulobox3{
    color: white;
    padding-top: 08px;
    padding-left: 20px;
}

.corpotextobox3{
    color: lightgrey;
    padding-left: 20px;
    font-weight: normal;
    font-size: small;
}

/*Ajustar o conteúdo para smartphones*/
@media only screen and (max-width:550px){
    .container {
        grid-template-columns: 330px;
        grid-template-rows: 300px 300px 300px;
        grid-template-areas:
        "hd"
        "sd"
        "main";
        
    }
    .box1 {
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }
    .box2 {
        margin-right: 20px;
        margin-left: 20px;
    }
    .box3 {
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}